<%= form_with url: seasons_path, method: :get, class: "d-flex pb-2", data: {"turbo": false} do %>
      <label for="Year">Year</label>
      
      
      
      <div class="relative inline-flex self-center">
       
      <select name="years" id="years" class = "font-medium rounded border-2 border-[#50AE26] text-gray-600 h-7 w-20 pl-3 pr-3 mx-3 bg-white hover:border-gray-400 focus:outline-none appearance-none after:outline-none">
        <option value=<%params[:years]%>><%=params[:years]%></option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
      </select>
      <%= submit_tag "Search", class: "mx-3 px-2 border-1 bg-[#50AE26] border-gray-800 hover:bg-gray-600 text-white"%>
  <% end %>