<%= form_with url: eras_path, method: :get, class: "d-flex flex-wrap pb-2 items-baseline", data: { "turbo": false } do |form| %>
  <label for="Year" class="px-3">Years</label>
  <div class="relative inline-flex self-center flex-wrap">
    <% Season.distinct.order(year: :asc).pluck(:year).each do |year| %>
      <%= form.check_box :years, { multiple: true, checked: (params[:years] || []).include?(year.to_s), id: "year_#{year}" }, year, nil %>
      <%= form.label "year_#{year}", year, class: "pl-2 pr-2" %>
    <% end %>
    <%= form.submit "Search", class: "mx-3 px-2 border-1 bg-[#50AE26] border-gray-800 hover:bg-gray-600 text-white" %>
  </div>
<% end %>