
<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl md:text-6xl text-center text-white bg-[#50AE26] py-4 rounded-lg">About</h1>
  <div class="text-lg md:text-xl text-justify mt-6">
    <p class="max-w-prose mx-auto">For 18 years, the Daegu Softball League has been playing softball in Daegu, South Korea. For the past 8 years, the league has kept meticulous stats. Here they're presented in all their glory. Unfortunately, the first 8 years live on only in the memory of those who played, but ask any of them, they were awesome.</p>
    <p class="max-w-prose mx-auto mt-4">If you find yourself in Daegu during the spring season and want to play some ball, come check out our Facebook group or main webpage at <a href="http://daegusoftball.com" class="text-green-600 hover:underline">daegusoftball.com</a>.</p>
    <p class="max-w-prose mx-auto mt-4">This site was created by Zach Thomas. You can reach him at his gmail account - zachjamesthomas</p>
  </div>
</div>




