
<div class="d-flex flex-col gap-3 pb-3">
 <h1 class = "text-2xl md:text-6xl my-4 p-2 text-center bg-[#50AE26] text-white w-1/2 place-self-center" >About </h1>
    <h2 class = "text-l md:text-xl w-1/3 place-self-center">For 16 years the Daegu Softball League has been playing softball in Daegu, South Korea.  For the past 8 years the league has kept meticulous stats.  Here they're presented in all their glory.  Unfortunately the first 8 years live on only in the memory of those who played, ask any of them, they were awesome.
If you find yourself in Daegu during the spring season and want to play some ball, come check out our facebook group or main webpage at daegusoftball.com.</h2>
<p>This site was created by Zach Thomas</p>




