
<div class="pb-6 flex flex-col md:flex-row">
<%# <div class="bg-gradient-to-t from-transparent via-gray-600 to-black absolute w-full h-1/2 md:py-4"> %>
<%= image_tag "dsl.jpg", class:"md:w-1/2"%>
<div class="flex flex-col justify-center  bg-[#50AE26] py-3">
<h1 class="text-2xl lg:text-8xl text-center text-white md:py-10 block font-bold p-0 m-0">Welcome to DSLGraphs</h1>
<p class="text-white text-center w-3/4 items-center mx-auto pt-3">A website dedicated to sharing DSL stats from the last <%=Season.count%> seasons.
</div>
</div>