<div class="d-flex flex-row gap-3 font-light pb-1">
<div>Female</div>
<%= form_with url: dsl_info_index_path, class: "inline z-0", id: "gender_form", method: :get do |form| %>
  <label class="relative inline-flex items-center cursor-pointer">
    <%= form.check_box :gender_toggle, class: "sr-only peer z-0" %>
      <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-blue-300  rounded-full peer  peer-checked:after:translate-x-full peer-checked:after:border-[#50AE26] after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-[#50AE26] after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#50AE26] z-0" id="toggle"></div>
    </label>
<% end %>
<div>Male</div>
</div>

<script>
document.addEventListener('turbo:load', function() {
  const genderToggle = document.getElementById('gender_toggle');
  const genderForm = document.getElementById('gender_form')
  const storedGender = localStorage.getItem('selectedGender') || 'female';
 
  genderToggle.checked = storedGender === 'male';


  genderToggle.addEventListener('change', () => {
    const storedGender = genderToggle.checked ? 'male' : 'female';
    localStorage.setItem('selectedGender', storedGender);
    genderForm.submit();
  });
  });
</script>