
<div class = "flex flex-col justify-center items-center">
  <%=render "banner"%>
  <h1 class = "text-3xl text-center pb-3">Career Leaders</h1>
  <%=render "gender_toggle"%>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 place-content-evenly">
    <%=render "players_leaderboards"%>
  </div>

  <a href="#gender_form" class="animate-bounce fixed bottom-4 right-4 w-10 h-10 border border-white bg-[#50AE26] rounded-full flex items-center justify-center text-white opacity-70">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
    </svg>
  </a>

</div>

