<%= form_with url: stats_path, method: :get, class: "d-flex pb-2", data: {"turbo": false} do %>
      <label for="Players with at least 'X' seasons">Players with at least</label>
      
      
      
      <div class="relative inline-flex self-center">
       
      <select name="query_seasons" id="seasons" class = "font-medium rounded border-2 border-[#50AE26] text-gray-600 h-7 w-20 pl-3 pr-3 mx-3 bg-white hover:border-gray-400 focus:outline-none appearance-none after:outline-none">
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <label for="seasons" class = "">seasons in the DSL</label>
 

      <%= submit_tag "Search", class: "mx-3 px-2 border-1 bg-[#50AE26] border-gray-800 hover:bg-gray-600 text-white"%>
  <% end %>