<%= form_with url: send("stats_#{action_name}_path"), method: :get, id: "player-form", class: "d-flex", data: {"turbo": false}, sort: params[:sort], query_seasons: params[:query_seasons] do %>
      <label for="Players with at least 'X' seasons"></label>
      <div class="relative inline-flex self-center">
       
      <select name="query_seasons" id="seasons" class="font-medium rounded border-2 border-[#50AE26] text-gray-600 h-7 w-20 pl-3 pr-3 mr-1 bg-white hover:border-gray-400 focus:outline-none appearance-none after:outline-none">
  <% (1..10).reverse_each do |season| %>
    <option value="<%= season %>" <%= 'selected="selected"' if (params[:query_seasons] || '6') == season.to_s %>><%= season %></option>
  <% end %>
</select>
      <label for="seasons" class = "">seasons</label>
 
<%end%>

<script>
  document.addEventListener('turbo:load', function (){
  const playerForm = document.getElementById('player-form')
    playerForm.addEventListener('change', () => {
      playerForm.submit();
    })
  })
</script>